
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25%;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}
.title {
    margin: 20px 0;
    
}
.line {
    height: 5px;
   background-color: #8c7aa9;
   margin-bottom: 10px;
}
.text {
    margin-bottom: 15px;
}
.form {
    background-color: #8c7aa9;
    padding: 40px;
    border-radius: 35px;
    
}
.action {
    text-align: center;
    margin-bottom: 50px;

}
.btn {
    text-decoration: none;
    color: #5c5b5e;
    padding: 7px;
}
.active {
    color: #f9f8fa;
    border-bottom: 2px solid #f5c259;
    
}
.form_text {
    color: #bbb;
    margin-bottom: 10px;
    
}
.box {
    margin-bottom: 50px;
}
.tip {
    color: #bbb;
    display: inline;
    margin-right: 10px;
}
.message {
    width: 100%;
    background-color: #60428e;
    opacity: 0.5;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 200px;
    resize: none;
    outline: none;
}
.button {
    background-color: #f5c259;
    border: none;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}
.button:hover{
    background-color: #000;
    color: #f5c259;
}
.form_line {
    opacity: 0.5;
    height: 5px;
    background-color: #f9f8fa;
    margin-top: 10px;
    border-radius: 15px;
}
.on {
    display: inline-block;
    text-align: center;
    background-color: #f5c259;
    border-radius: 30%;
    width: 100%;
    height: 3vh;
    text-decoration: none;
    color: black;
}
.in {
    display: inline-block;
    text-align: center;
    opacity: 50%;
    
    width: 100%;
    height: 3vh;
    text-decoration: none;
    color: black;
}
.input{
    width: 100%;
    background-color: #60428e;
    opacity: 0.5;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    outline: none;
}